.profile {
  background-color: var(--main-color-bg);
  border-radius: 10px;
  width: 100%;
  display: inline-block;
}

.profile_name {
  line-height: 18px;
  padding: 20px;
}

.profile_name .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  color: white;
}

.profile_name .title {
  font-size: 13px;
  color: rgb(180, 178, 178)
}

.profile_image {
  margin: -20px 0 0 0;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

.profile_image img {
  width: 100%;
}

.profile_information {
  top: 0;
  left: 0;
  margin: -44px 10px 30px
}

.profile_information .timeline .timeline_content {
  margin-bottom: 10px;
}

.timelineItem_text {
  font-size: 12px !important;
  color: rgb(180, 178, 178) !important;
  font-weight: 400 !important;
}

.timelineItem_text > a{
  color: rgb(180, 178, 178) !important;
  text-decoration: none;
}

.timelineItem_text > span {
  color: white;
}

.profile .button_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile_information svg {
  font-size: larger;
}